# 1. Imports

In [40]:
import pandas as pd
import numpy as np

# Tweaks
pd.options.display.max_rows = 12000

# 2. Data Reading

In [108]:
apps_df = pd.read_csv('./data/googleplaystore.csv')
user_reviews_df = pd.read_csv('./data/googleplaystore_user_reviews.csv')

# 3. Data Exploration

In [42]:
apps_df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9403,Virtual Mother Surgery Doctor : Emergency Hosp...,FAMILY,3.9,70,61M,"10,000+",Free,0,Teen,Educational,"May 30, 2018",1.1,4.0 and up
8766,"Dr. Safety - Antivirus, Booster, Cleaner, AppLock",TOOLS,4.4,372553,21M,"10,000,000+",Free,0,Everyone,Tools,"August 6, 2018",3.0.1114,4.1 and up
4665,SAY-U,FAMILY,3.2,1011,Varies with device,"100,000+",Free,0,Teen,Entertainment,"July 13, 2018",Varies with device,4.1 and up
648,Iraq love chat,DATING,NaN,14,5.0M,50+,Free,0,Teen,Dating,"August 3, 2018",8.2,4.0.3 and up
8511,Advanced Download Manager Pro,TOOLS,4.7,6505,2.0M,"50,000+",Paid,$2.99,Everyone,Tools,"November 3, 2017",6.4.0,4.0 and up

In [43]:
user_reviews_df.sample(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
19632,"CBS Sports App - Scores, News, Stats & Watch Live",Can't get back fantasy league easy way like I ...,Negative,-0.025325,0.550770
53119,Gboard - the Google Keyboard,PREDICTIVE EMOJI IS RUBBISH! Google step up! I...,Neutral,0.000000,0.600000
62437,Hitwe - meet people and chat,Very intrusive ads But 1 star. Look Lebanon ma...,Positive,0.184896,0.561111
24278,Card Wars - Adventure Time,NaN,NaN,NaN,NaN
61070,Hello Kitty Lunchbox,I hate hello kitty games,Negative,-0.800000,0.900000

# 4. Data Cleaning

## I. Handling Noisy Data

### A. Removing `M`, `k`, `+`, `Varies with device` from `Size` column in `Apps` table.

In [109]:
# Removing `M`, Changing Size To KB
apps_df.Size = apps_df.Size.map(
    lambda value :
        str(int(float(value.rstrip('M')) * 1024)) if value[-1] == 'M' else value
)

# Removing `k`
apps_df.Size = apps_df.Size.map(
    lambda value :
        str(value.rstrip('k')) if value[-1] == 'k' else value
)

# Changing 1 Record With `1,000+` To 1
apps_df.Size = apps_df.Size.map(
    lambda value :
        '1' if value == '1,000+' else value
)

# Setting `Varies with device` to NaN
apps_df.Size = apps_df.Size.map(
    lambda value :
        np.nan if value == 'Varies with device' else value
)

# Changing `Size` Columns' Values From String To Numeric
apps_df.Size = pd.to_numeric(apps_df.Size)

### B. Removing `+`, `,`, `Free` from `Installs` column in `Apps` table.

In [110]:
# Removing `+`
apps_df.Installs = apps_df.Installs.map(
    lambda value :
        value.rstrip('+')
)

# Removing `,`
apps_df.Installs = apps_df.Installs.map(
    lambda value :
        ''.join(value.split(','))
)

# Changing 1 Record With `Free` To NaN
apps_df.Installs = apps_df.Installs.map(
    lambda value :
        np.nan if value == 'Free' else value
)

# Changing `Installs` Columns' Values From String To Numeric
apps_df.Installs = pd.to_numeric(apps_df.Installs)

In [111]:
apps_df.describe()

            Rating           Size      Installs
count  9367.000000    9146.000000  1.084000e+04
mean      4.193338   22029.988356  1.546434e+07
std       0.537431   23131.219324  8.502936e+07
min       1.000000       1.000000  0.000000e+00
25%       4.000000    5017.000000  1.000000e+03
50%       4.300000   13312.000000  1.000000e+05
75%       4.500000   30720.000000  5.000000e+06
max      19.000000  102400.000000  1.000000e+09

### C. Removing `$` from `Price` column in `Apps` table.

## II. Handling Missing Values

# 5. Data Transformation

# 6. Data Integration

# 7. Data Reduction